extends layout
block content
	div.custom-container(data-ng-controller="ebookController" data-loadebook data-totalpages = "#{totalPages}")
		div.header
			div.logo.float-left
				a(href="/" title="View Ebook")
					img(src='#{pageStyle.logoImg}')
				span.session-user #{sessionuser}

			div.course-command.float-right
				a.help(href='/' title="Home page")
					img(src='#{pageStyle.homeImg}')
				a.help(href='/addpage' title="add page")
					img(src='#{pageStyle.editImg}')
				a.help(href='/updatepage' title="update page")
					img(src='#{pageStyle.updateImg}')
				a.help(href='https://github.com/sintu-patel/nodeApp' title="get the repository")
					img(src='#{pageStyle.helpImg}')
				a.help(href='/logout' title="Logout")
					img(src='#{pageStyle.logoutImg}')

		div.home-content
			div.title {{pageTitle}}
			div.content
				div.main-content.float-left
					div(data-ng-bind-html="pageContent | dataAsHtml")

				div.right-section.float-right
					div.transcript
						div(data-ng-bind-html="keyPoints | dataAsHtml")

			div.footer
				div.controls
					div.play.float-left
						div(data-ng-click='showPage("play")')
							img(src='#{pageStyle.playImg}')
					div.prev.float-left
						div(data-ng-click="showPage('prevPage')")
							img(src='#{pageStyle.prevImg}')
					div.next.float-left
						div(data-ng-click="showPage('nextPage')")
							img(src='#{pageStyle.nextImg}')
					div.seekbar.float-left
						div.progress(style='width: {{progress}};')
					div.pagination.float-left {{currentPage}} of {{totalPage}} Pages

					div.menu.float-left
						div.current {{pageTitle}}
						ul.lesson-list(data-ng-show="menuState == 'visible'")
							each lesson in appData
								li.lesson(data-ng-click='showPage("#{lesson.pageNo}")' data-ng-class='{"active": currentPage == #{lesson.pageNo}}')
									span #{lesson.pageTitle}
					div.open-menu.float-left(data-ng-click='toggleMenu()' data-ng-class='{"active": menuState == "visible"}')

			div.active-users


