extends layout
block content
	- var pageData = ebookData
	- var currentPage = 0
	- var pageNo = currentPage + 1;
	- var currentPageData = pageData[currentPage]
	- var total = 6
	- var test = cPage
	- var progressBarWidth = test / total
	div.container
		div.header
			div.logo
				img(src='#{pageStyle.logoImg}')

			div.course_command
				a.help(href='#')
					img(src='#{pageStyle.helpImg}')
				a.close(href='#')
					img(src='#{pageStyle.closeImg}')

		div#home_content
			div.title #{currentPageData.pageTitle} #{test}
			div.content
				div.main_content
					div!= currentPageData.content

				div.right_section
					div.transcript
						img(src='#{currentPageData.img}')

			div.footer
				div.controls
					div#play
						a(href='/ebook?pageNo=1')
							img(src='#{pageStyle.playImg}')
					div#prev
						a(href='/ebook?pageNo=#{test - 1}')
							img(src='#{pageStyle.prevImg}')
					div#next
						a(href='/ebook?pageNo=#{test + 1}')
							img(src='#{pageStyle.nextImg}')
					div#seekbar
						div#progress(style='width: #{progressBarWidth*100}%;')
					div#pagination #{test} of #{total} Pages

					div#menu
						div#current #{currentPageData.pageTitle}
						ul
							each data in pageData
								li.lesson
									a(href='#')
										span #{data.pageTitle}
					div#open_menu

