extends layout
block content
	div.container(data-ng-controller="ebookController", data-ng-init="initApp")
		div.header
			div.logo
				img(src='#{pageStyle.logoImg}')

			div.course_command
				a.help(href='#')
					img(src='#{pageStyle.helpImg}')
				a.close(href='#')
					img(src='#{pageStyle.closeImg}')

		div#home_content
			div.title {{pageTitle}}
			div.content
				div.main_content
					div(data-ng-bind-html="pageContent | dataAsHtml")

				div.right_section
					div.transcript
						img(src='{{pageImage}}')

			div.footer
				div.controls
					div#play
						div(data-ng-click='showPage("play")')
							img(src='#{pageStyle.playImg}')
					div#prev
						div(data-ng-click="showPage('prevPage')")
							img(src='#{pageStyle.prevImg}')
					div#next
						div(data-ng-click="showPage('nextPage')")
							img(src='#{pageStyle.nextImg}')
					div#seekbar
						div#progress(style='width: {{progress}};')
					div#pagination {{currentPage}} of {{totalPage}} Pages

					div#menu
						div#current {{pageTitle}}
						ul#lesson_list(data-ng-show="menuState == 'visible'")
								li.lesson
									a(href='/ebook?pageNo=test')
										span data.pageTitle
					div#open_menu(data-ng-click='toggleMenu()')

