extends layout
block content
	div.container
		div.header
			div.logo.float-left
				img(src='#{logoImg}')

			div.course-command.float-right
				a.help(href='.')
					img(src='#{helpImg}')
				a.close(href='.')
					img(src='#{closeImg}')

		div.home-content
			div.title #{courceTitle}
			div.content
				each data in jsonData
					div.main-content.float-left
						p #{data.content}

				div.right-section.float-right
					div.transcript
						each data in jsonData
							img(src='#{data.contentImg}')

			div.footer
				div.controls
					div.play.float-left
						img(src='#{playImg}')
					div.prev.float-left
						img(src='#{prevImg}')
					div.next.float-left
						img(src='#{nextImg}')
					div.seekbar.float-left
						div.progress
					div.pagination.float-left 1 of 3 Pages

					div.menu.float-left
						div.current
						ul
							li.lesson
								a(href='#')
									span #{courceTitle}
					div.open-menu

