extends layout
block content
	div.custom-container(data-ng-controller="ebookController" data-loadebook data-totalpages = "#{totalPages}")
		div.header
			div.logo.float-left
				a(href="/" title="View Ebook")
					img(src='#{pageStyle.logoImg}')
				span.session-user #{sessionuser}

			div.course-command.float-right
				a.help(href='/' title="Home page")
					img(src='#{pageStyle.homeImg}')
				a.help(href='/addpage' title="add page")
					img(src='#{pageStyle.editImg}')
				a.help(href='/updatepage' title="update page")
					img(src='#{pageStyle.updateImg}')
				a.help(href='/sortpages' title="Sort page")
					img(src='#{pageStyle.sortImg}')
				a.help(href='https://github.com/sintu-patel/nodeApp' title="get the repository")
					img(src='#{pageStyle.helpImg}')
				a.help(href='/logout' title="Logout")
					img(src='#{pageStyle.logoutImg}')

		div.home-content
			div.title
				div Change the order of pages
			div.content
				div.main-content.float-left
					p This page associates the page no to their respective page titles
					div.label Please enter page title
					input(data-ng-model="oldpagetitle" type="text")

				div.right-section.float-right
					div.label Please enter desired page no
					input(data-ng-model="newpageno" type="text")

			div.footer
				div.controls
					div.play.float-left
						div(data-ng-click='updatePageNo()')
							img(src='#{pageStyle.playImg}' title="Submit")

