extends layout
block content
	div.custom-container(data-ng-controller="ebookController" data-loadebook data-totalpages = "#{totalPages}")
		div.header
			div.logo.float-left
				a(href="/" title="View Ebook")
					img(src='#{pageStyle.logoImg}')
				span.session-user #{sessionuser}

			div.course-command.float-right
				a.help(href='/' title="Home page")
					img(src='#{pageStyle.homeImg}')
				a.help(href='/addpage' title="add page")
					img(src='#{pageStyle.editImg}')
				a.help(href='/updatepage' title="update page")
					img(src='#{pageStyle.updateImg}')
				a.help(href='https://github.com/sintu-patel/nodeApp' title="get the repository")
					img(src='#{pageStyle.helpImg}')
				a.help(href='/logout' title="Logout")
					img(src='#{pageStyle.logoutImg}')

		div.home-content
			div.title
				span.label Page No:
				input.page-no.blink-border(data-ng-model="pageno" type="text" data-ng-blur="updateForm()")
				span.label.page-title-label Page Title:
				input.page-title(data-ng-model="pagetitle" type="text")
			div.content
				div.main-content.float-left
					div.label Page content
					textarea(data-ng-model="pagecontent")
					div.preview
						h1 Preview
						div(data-ng-bind-html="pagecontent | dataAsHtml")

				div.right-section.float-right
					div.transcript
						div.label Page image url
						input(data-ng-model="pageimage" type="text")
						div.preview
						h1 Preview
						img.preview-img(src='{{pageimage}}')

			div.footer
				div.controls
					div.play.float-left
						div(data-ng-click='addPage("update")')
							img(src='#{pageStyle.playImg}' title="Submit")

